@charset "UTF-8";

@font-face {
    src: url(/Myfrom/font/useFont.ttf) format(opentype);
    font-family: "useFont";
} 
@font-face {
    src: url(/Myfrom/font/RampartOne-Regular.ttf) format(opentype);
    font-family: "RampartOne-Regular";
} 
@font-face {
    src: url(/Myfrom/font/YuseiMagic-Regular.ttf) format(opentype);
    font-family: "YuseiMagic-Regular";
} 
@font-face {
    src: url(/Myfrom/font/SentyCloud.ttf) format(opentype);
    font-family: "SentyCloud";
} 
.wa{
    font-family: "useFont";
    font-size: 25px;
}
.ww{
    font-family: "RampartOne-Regular";
    font-size: 25px;
    
}
.wq{
    font-family: "YuseiMagic-Regular";
    font-size: 25px;

}
.we{
    font-family: "SentyCloud";
    font-size: 25px;

}
